body {
  background-color: #f0f0f0;
  background-size: cover;
  background: #e8e8e8;
  display: flex;
  flex-direction: column;
  font-family: arial, sans-serif;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  padding: 0; }

#page {
  display: flex;
  flex-grow: 1; }

/* ====================== Border Helpers ====================== */
._border.top {
  border-top: solid; }

._border.right {
  border-right: solid; }

._border.bottom {
  border-bottom: solid; }

._border.left {
  border-left: solid; }

._border.thin {
  border-width: 1px; }

._border.thick {
  border-width: 3px; }

/* ====================== Padding Helpers ====================== */
.p-none {
  padding: 0; }

.p-two {
  padding: 20px; }

.p-one {
  padding: 10px; }

.p-half {
  padding: 5px; }

.p-quarter {
  padding: 2.5px; }

.ptb-two {
  padding-top: 20px;
  padding-bottom: 20px; }

.ptb-one {
  padding-top: 10px;
  padding-bottom: 10px; }

.ptb-half {
  padding-top: 5px;
  padding-bottom: 5px; }

.ptb-quarter {
  padding-top: 2.5px;
  padding-bottom: 2.5px; }

.plr-two {
  padding-left: 20px;
  padding-right: 20px; }

.plr-one {
  padding-left: 10px;
  padding-right: 10px; }

.plr-half {
  padding-left: 5px;
  padding-right: 5px; }

.plr-quarter {
  padding-left: 2.5px;
  padding-right: 2.5px; }

.pt-two {
  padding-top: 20px; }

.pt-one {
  padding-top: 10px; }

.pt-half {
  padding-top: 5px; }

.pt-quarter {
  padding-top: 2.5px; }

.pr-two {
  padding-right: 20px; }

.pr-one {
  padding-right: 10px; }

.pr-half {
  padding-right: 5px; }

.pr-quarter {
  padding-right: 2.5px; }

.pb-two {
  padding-bottom: 20px; }

.pb-one {
  padding-bottom: 10px; }

.pb-half {
  padding-bottom: 5px; }

.pb-quarter {
  padding-bottom: 2.5px; }

.pl-two {
  padding-left: 20px; }

.pl-one {
  padding-left: 10px; }

.pl-half {
  padding-left: 5px; }

.pl-quarter {
  padding-left: 2.5px; }

/* ====================== Margin Helpers ====================== */
.m-none {
  margin: 0; }

.m-two {
  margin: 20px; }

.m-one {
  margin: 10px; }

.m-half {
  margin: 5px; }

.m-quarter {
  margin: 2.5px; }

.mtb-two {
  margin-top: 20px;
  margin-bottom: 20px; }

.mtb-one {
  margin-top: 10px;
  margin-bottom: 10px; }

.mtb-half {
  margin-top: 5px;
  margin-bottom: 5px; }

.mtb-quarter {
  margin-top: 2.5px;
  margin-bottom: 2.5px; }

.mlr-two {
  margin-left: 20px;
  margin-right: 20px; }

.mlr-one {
  margin-left: 10px;
  margin-right: 10px; }

.mlr-half {
  margin-left: 5px;
  margin-right: 5px; }

.mlr-quarter {
  margin-left: 2.5px;
  margin-right: 2.5px; }

.mt-two {
  margin-top: 20px; }

.mt-one {
  margin-top: 10px; }

.mt-half {
  margin-top: 5px; }

.mt-quarter {
  margin-top: 2.5px; }

.mr-two {
  margin-right: 20px; }

.mr-one {
  margin-right: 10px; }

.mr-half {
  margin-right: 5px; }

.mr-quarter {
  margin-right: 2.5px; }

.mb-two {
  margin-bottom: 20px; }

.mb-one {
  margin-bottom: 10px; }

.mb-half {
  margin-bottom: 5px; }

.mb-quarter {
  margin-bottom: 2.5px; }

.ml-two {
  margin-left: 20px; }

.ml-one {
  margin-left: 10px; }

.ml-half {
  margin-left: 5px; }

.ml-quarter {
  margin-left: 2.5px; }

/* ========= align it  ====== */
.center {
  text-align: center;
  margin: 0 auto; }

/*============= DOM HELPERS =============== */
.hide {
  display: none; }

.no-bullet {
  list-style-type: none; }

/*============= Typography =============== */
._text.bold {
  font-weight: 800; }

._text.small {
  font-size: 14px; }

._text.medium {
  font-size: 16px; }

._text.large {
  font-size: 18px; }

._text.large-2x {
  font-size: 22px; }

._text.caps {
  text-transform: uppercase; }

._text.centered {
  text-align: center; }

._text.italic {
  font-style: italic; }

._text.underline {
  text-decoration: underline; }

._icon.x-small {
  font-size: 14px; }

._icon.small {
  font-size: 24px; }

._icon.medium {
  font-size: 36px; }

._icon.large {
  font-size: 48px; }

._icon.white {
  color: #ececec; }

._icon.gray {
  color: #b5b5b5; }

.display-none {
  display: none !important; }

.invisible {
  visibility: hidden; }

#editor {
  display: flex;
  align-items: center;
  padding: 6% 5% 0;
  background: rgba(255, 255, 255, 0);
  letter-spacing: 1px; }

textarea {
  display: flex;
  margin: 0;
  padding: 0;
  outline: none;
  resize: none;
  width: 70%;
  margin: 0 auto;
  border: 0;
  font-size: 14px; }
  @media (min-width: 1000px) {
    textarea {
      width: 50%; } }

#menu-open {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 5px; }

#menu-close {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 5px;
  z-index: 999; }

.button-drawer {
  background: rgba(0, 0, 0, 0.6);
  bottom: -50px;
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-around;
  left: 0;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
  .button-drawer.open {
    bottom: 0; }

.button-drawer-style {
  color: #e7e7e7;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition-duration: 0.75s;
  transition-property: all;
  border-bottom: 2px solid transparent;
  align-self: center; }
  .button-drawer-style.on {
    color: #fff;
    text-shadow: -1px 1px 3px rgba(208, 208, 208, 0.2), 1px -1px 3px rgba(252, 252, 252, 0.2);
    border-bottom: 2px solid white; }
  .button-drawer-style.dim {
    color: rgba(255, 255, 255, 0.5); }

.asset-drawer {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 45px;
  height: 40px;
  padding: 5px;
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }

.asset-row {
  display: flex;
  flex-direction: row; }

#mixer-open {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 5px;
  z-index: 999; }

#mixer-close {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 5px;
  z-index: 999; }

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.slider-text {
  color: #e7e7e7;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-right: 15px;
  margin-left: -15px; }

button {
  background: none;
  border: 0;
  font: inherit;
  line-height: normal;
  outline: none;
  overflow: visible; }

.btn.gourd {
  background: #d9d9d9;
  border-bottom: 2px solid transparent;
  height: 25px;
  margin: 0 20px;
  padding-top: 5px;
  width: 25px;
  border-radius: 50%;
  font-size: 10px; }
  .btn.gourd:hover {
    background: #c8c8c8; }
  .btn.gourd:active {
    background: #b4b4b4; }
  .btn.gourd.on {
    background: #dbdbdb;
    box-shadow: 0 0 5px #ebebeb; }

#mixer input[type=range] {
  -webkit-appearance: none; }

#mixer input[type=range] {
  width: 150px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 10px; }
  @media (max-width: 500px) {
    #mixer input[type=range] {
      width: 75px; } }

#mixer input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.22); }
  #mixer input[type=range]::-webkit-slider-thumb:active {
    box-shadow: 0 0px 0px transparent; }

#mixer input[type=range]:focus {
  outline: none; }

.header {
  background: #464646;
  color: #dfe8f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 100;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); }
  .header h1 {
    font-size: 14px; }

.preferences {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-weight: thin;
  font-size: 13px;
  justify-content: space-between; }
  .preferences .row {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    align-items: center; }
    .preferences .row:hover {
      background: #dfe8f4; }
  .preferences .label {
    color: #505050; }
  .preferences .value {
    width: 80px; }
    .preferences .value input {
      width: inherit; }
