body {
  display: flex;
  flex-direction: column;
  background: #e2e2e2;
  height: 100vh;
  overflow-y: hidden; }

aside {
  padding-top: 25px; }

#editor {
  display: flex;
  align-items: center;
  padding: 6% 5% 0; }

textarea {
  display: flex;
  margin: 0;
  padding: 0;
  outline: none;
  resize: none;
  width: 90%;
  height: 80vh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22); }
