#editor {
    display: flex;
    align-items: center;
    padding: 6% 5% 0;
    background-color: $mv-bg;
}

textarea {
    display: flex;
    margin: 0;
    padding: 0;
    outline: none;
    resize: none;
    width: 70%; // TODO: programmatically change this
    margin: 0 auto;
    border: 0;
    font-size: 12px;
    // box-shadow: 0 1px 3px rgba(0,0,0,0.22);
}
