#editor {
    display: flex;
    align-items: center;
    padding: 6% 5% 0;
    flex: 1;
}

textarea {
    display: flex;
    margin: 0;
    padding: 0;
    outline: none;
    resize: none;
    width: 90%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.22);
}
