button {
  background: none;
  border: 0;
  font: inherit;
  line-height: normal;
  outline: none;
  overflow: visible;
}
.btn {
  &.gourd {
    background: rgb(217, 217, 217);
    border-bottom: 2px solid transparent;
    height: 25px;
    margin: 0 20px;
    padding-top: 5px;
    width: 25px;
    border-radius: 50%;
    font-size: 10px;
    &:hover {
      background: rgb(200, 200, 200);
    }
    &:active {
      background: rgb(180, 180, 180);
    }
    &.on {
      background: rgb(219, 219, 219);
      box-shadow: 0 0 5px rgba(235, 235, 235, 1);
    }
  }
}
#mixer {
  input[type=range] {
    -webkit-appearance: none;
  }
  input[type=range] {
    width: 150px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 10px;

    @media(max-width: 500px) {
    width: 75px;
    }
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    // margin-top: 0px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.22);

    &:active {
      box-shadow: 0 0px 0px rgba(0,0,0,0.0);
    }
  }

  input[type=range]:focus {
    outline: none;
  }

}
