body {
  display: flex;
  flex-direction: column;
  background: rgb(226, 226, 226);
  height: 98vh;
  overflow-y: hidden;
  font-family: arial, sans-serif;
}

#page {
	display: flex;
	flex-grow: 1;
}

#editor-controls {
	padding: 2%;
	display: flex;
	justify-content: space-around;
}
