body {
  background-color: #f0f0f0;
  background-size: cover;
  background: $mv-bg;
  display: flex;
  flex-direction: column;
  font-family: arial, sans-serif;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  padding: 0;
}
button {
  background: none;
  border: 0;
  font: inherit;
  line-height: normal;
  outline: none;
  overflow: visible;
}
.btn {
  &.gourd {
    background: rgb(217, 217, 217);
    border-bottom: 2px solid transparent;
    height: 25px;
    margin: 5px;
    margin: 0 20px;
    padding-top: 5px;
    width: 25px;
    border-radius: 50%;
    font-size: 10px;

    &:hover {
      background: rgb(200, 200, 200);

    }
    &:active {
      background: rgb(180, 180, 180);
    }
    &.on {
      background: rgb(219, 219, 219);
      box-shadow: 0px 0px 5px rgba(235, 235, 235, 1);
    }
  }
}
#page {
  display: flex;
  flex-grow: 1;
}
#sidebar-open {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 5px;
}
#sidebar-close {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 5px;
  z-index: 999;
}
#editor-controls {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.button-drawer {
  background: rgba(0, 0, 0, 0.6);
  bottom: -50px;
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-around;
  left: 0;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  &.open {
    bottom: 0;
  }
}
.button-drawer-style {
  color: rgb(231, 231, 231);
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition-duration: 0.75s;
  transition-property: all;
  border-bottom: 2px solid transparent;
  align-self: center;

  &.on {
    color: #fff;
    text-shadow: -1px 1px 3px rgba(208, 208, 208, 0.2), 1px -1px 3px rgba(252, 252, 252, 0.2);
    border-bottom: 2px solid white;
  }

  &.dim {
    color: rgba(255, 255, 255, 0.50)
  }

}
.asset-drawer {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 45px;

  height: 40px;
  padding: 5px;
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.asset-row {
  display: flex;
  flex-direction: row;
}
.button-header {
  align-items: center;
  align-self: center;
  background: rgb(75, 75, 75);
  color: rgb(187, 187, 187);
  display: flex !important;
  height: 40px;
  justify-content: center;
  margin-right: 10px;
  width: 40px;
}
