body {
  display: flex;
  flex-direction: column;
  background: $mv-bg;
  height: 98vh;
  overflow-y: hidden;
  font-family: arial, sans-serif;
  background-size: cover;
  background-color: #f0f0f0;
}

#page {
	display: flex;
	flex-grow: 1;
}

#editor-controls {
	padding: 2%;
	display: flex;
	justify-content: space-around;
}

.control-section {
  display: flex;
}
