body {
  display: flex;
  flex-direction: column;
  background: $mv-bg;
  height: 100vh;
  overflow-y: hidden;
  font-family: arial, sans-serif;
  background-size: cover;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
button {
  background: none;
  border: 0;
  font: inherit;
  line-height: normal;
  overflow: visible;
  outline: none;
}
.btn {
  &.gourd {
    padding-top: 5px;
    width: 40px;
    height: 40px;
    background: rgb(217, 217, 217);
    margin: 5px;
    border-bottom: 2px solid transparent;
    &:hover {
      background: rgb(200, 200, 200);
    }
    &:active {
      background: rgb(180, 180, 180);
    }
    &.on {
      background: rgb(180, 180, 180);
      border-bottom: 2px solid #FF8C69;
    }
  }
}
#page {
  display: flex;
  flex-grow: 1;
}
#sidebar-open {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 5px;
  padding: 10px;
}
#sidebar-close {
  position: fixed;
  right: 0;
  top: 0;
  margin: 5px;
  padding: 10px;
}
#editor-controls {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 2%;
  justify-content: space-around;
  visibility: hidden;
}
.control-section {
  display: flex;
  flex-direction: row;
}
.button-header {
  display: flex !important;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  color: rgb(187, 187, 187);
  background: rgb(75, 75, 75);
}
.button-row {
  display: flex;
  flex-direction: row;
}
