#mixer-open {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 5px;
  z-index: 999;
}
#mixer-close {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 5px;
  z-index: 999;
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider-text {
  color: rgb(231, 231, 231);
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-right: 15px;
  margin-left: -15px;
}
