.preferences {
  // width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-weight: thin;
  font-size: 13px;
  // align-items: center;

  .row {
    min-height: 40px;
    padding: 10px 0;
    border-bottom: 1px solid rgb(222, 222, 222);
    &:hover {
      background: rgb(223, 232, 244);
    }
  }

  .editor-width {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}