body {
  background-color: #f0f0f0;
  background-size: cover;
  background: $mv-bg;
  display: flex;
  flex-direction: column;
  font-family: arial, sans-serif;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  padding: 0;
}

#page {
  display: flex;
  flex-grow: 1;
}
