// variables
$mv-bg: rgb(232, 232, 232);
$padding-base: 10px;
$margin-base: 10px;

// Imports
@import '_editor';
@import '_elements';
@import '_helpers';
@import '_layout';
@import '_menu-editor';
@import '_menu-mixer';
@import '_preferences';
